@import "../components/recoleta/stylesheet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 41%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 8%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 0 0% 8%;
        --primary-foreground: 210 40% 98%;

        --secondary: 0 0% 97%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 0 0% 94%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 0 0% 100%;
        --input: 0 0% 100%;
        --ring: 0 0% 100%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 13%;
        --foreground: 0 0% 72%;

        --card: 0 0% 22%;
        --card-foreground: 0 0% 72%;

        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 72%;

        --primary: 0 0% 17%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 0 0% 17%;
        --secondary-foreground: 0 0% 72%;

        --muted: 0 0% 22%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 0 0% 9%;
        --accent-foreground: 0 0% 72%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 72%;

        --border: 0 0% 22%;
        --input: 0 0% 22%;
        --ring: 0 0% 26%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-accent text-foreground px-1;
    }
    ::-webkit-scrollbar {
        @apply w-[0.725rem];
    }
    ::-webkit-scrollbar-track {
        @apply bg-accent;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-foreground border-2 border-accent;
    }
}

.recoleta {
    font-family: "Recoleta";
}
